*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    width:400px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    margin-bottom:20px;
}

input[type="file"]{
    width:100%;
    margin:15px 0;
}

button{
    width:100%;
    padding:10px;
    border:none;
    background:black;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    opacity:0.9;
}

.message{
    color:green;
    margin-bottom:15px;
    font-weight:bold;
}
